
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section Scripts {
    @if (!string.IsNullOrEmpty(ViewBag.js))
    {
        @Scripts.Render(ViewBag.js)
    }
}
<script src="~/Scripts/plugins/EasyAutoComplete/jquery.easy-autocomplete.min.js"></script>
<script src="~/Areas/Informes/Scripts/index.js"></script>
<div class="row" style="margin-left:200px; margin-top:30px">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header card-outline-naranja">
                <h5 class="m-b-0 text-white"><i class="mdi-file-document"></i> @ViewBag.titulo</h5>
            </div>
            <div class="card-body">
                @{ string vista = ViewBag.vista; }
                @using (Html.BeginForm(null, null, new { Area = "Reportes", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="keyReporte" value="@ViewBag.keyReporte" />
                    <input type="hidden" name="titulo" value="@ViewBag.titulo" />

                    if (User.IsInRole("CONSULTA") || User.IsInRole("PROMOTOR") || User.IsInRole("ADMIN-MCA"))
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div>
                                        <label> Seleccione el MCA </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div>
                                        @Html.DropDownList("moduloMCAId", ViewBag.SelectMCA as SelectList, "***Seleccione una Opcion***", htmlAttributes: new { @class = "form-control modificacion", @readonly = "readonly", @required = "required", @data_val = "true", @data_val_required = "Campo Requerido" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <input type="hidden" id="cierreAnualInput" name="cierreAnualInput"  value=@ViewBag.cierreAnual />
                    if(ViewBag.cierreAnual > 1)
                    {
                        <div class="checkbox checkbox-success col-md-4 pull-right cierreAnual" style="margin-left:40px; display:none">
                            <input id="cierreAnualCk" type="checkbox" />
                            <label for="cierreAnualCk" class="text-danger">Si Desea imprimir saldos, para el mes de Diciembre, sin el cierre anual dar check.</label>
                        </div>
                    }
                    @Html.Partial(vista)
                }

            </div>
        </div>
    </div>
</div>
